<!DOCTYPE html>
<html>
  <head>
    <title>Actors</title>
  </head>

  <body>
    <h1>Actors</h1>

    <ul>
      <% @actors.each do |actor| %>
        <li>
          <a href="/actors/<%= actor["name"] %>">
            <%=actor["name"]%></a><br>
      </li><br>
      <% end %>
    </ul>
  </body>
</html>
